public/system
db/test_structure.sql

*.log
*.dvi
*.toc
*.aux

doc/presentation/auto/
doc/requirements/auto/
doc/testplan/auto/
doc/design/auto/

*/auto/
tmp
.#*
#*
*#
#*#
*~
capybara*.html
db/*.sqlite3
config/database.yml
rerun.txt
*.nav
*.out
*.snm
*_region_*
*.prv
*.fmt
dunnet.savefile
doc/design/uml/HandlerChain.1
doc/design/uml/HandlerChain.2
doc/design/uml/Handlers.1
doc/design/uml/Handlers.2
doc/design/uml/Handlers.3
doc/design/uml/Handlers.4
doc/design/uml/Handlers.5
doc/design/uml/Handlers.6
doc/design/uml/Handlers.7
doc/design/uml/PluginArchitecture.1
doc/design/uml/PluginArchitecture.5
doc/design/uml/RequestResponse.1
doc/design/uml/RequestResponse.2
doc/design/uml/object_model.1
doc/ignitepres/auto/
doc/design/pgf-umlsd-demo.pdf
doc/design/pgf-umlsd-demo.tex
doc/design/pgf-umlsd-demo2.pdf
doc/design/pgf-umlsd-demo2.tex
doc/ignitepres/ignitepres.pdf
doc/integration/auto/
doc/integration/testplan.pdf
doc/integration/uml/teststructure.1
doc/testplan/testplan.pdf