*.log
*.dvi
*.toc
*.aux

doc/presentation/auto/
doc/requirements/auto/
doc/testplan/auto/
doc/design/auto/

*/auto/
tmp
.#*
#*
*#
#*#
*~
capybara*.html
db/*.sqlite3
config/database.yml
rerun.txt
*.nav
*.out
*.snm