%h1
  New status
- form_for(@status) do |f|
  = f.error_messages
  = render :partial => 'form.html.haml', :locals => { :submit_text => 'Create!' }
.quicklinks
  = link_to 'Back', campaign_path(@campaign)
