!textcolor = #3BAAE3 - #999
!borderdark = #3BAAE3 - #444
!borderlight = #ccf
!bgcolor = #D7EBF9
!bgcolordark = #9999c


*
  padding: 0px
  margin: 0px
  font-family: sans-serif
  color = !textcolor

#schedule
  
  .fc-event-title
    color: #fff

body
  background = !bgcolor

#header
  border-bottom: 1px solid 
    color = !borderlight
  padding: 10px
  padding-bottom: 5px

  .title
    font-size: 48pt
    padding: 15px

#navigation-links 
  margin-left: 40px

  li
    display: inline
    border: 1px solid 
      color = !borderlight
      bottom: 0
    padding: 5px
    margin-right: 4px
    background: #fff
    position: relative
    top: 1px

#administrative-links
  float: right
  
  li
    display: inline
    padding: 3px
    border-right: 1px solid 
      color = !borderdark


#content
  border-bottom: 1px solid
    color = !borderdark
  background: #fff
  padding: 10px

a
  font-weight: bold
  color = #3BAAE3 - #444 !important
  text-decoration: none
  
a:hover
  text-decoration: underline
  color = !textcolor

.quicklinks
  font-weight: bold
  color: #99c
  text-align: center
  
#flash
  float: right
  font-weight: bold
  color = !textcolor
  position: relative
  top: -3px
  background: #ffc !important

table
  border-collapse: collapse
.listtable
  width: 800px
  margin: 0 auto
  
  td
    padding: 10px
    border-bottom: 1px solid
      color = !borderdark
  tr.alternate
    padding: 0px
    background = !bgcolor

h1
  text-align: center
  border-bottom: 2px dashed #D7EBF9