* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif; }

body {
  background: #eef; }

#header {
  border-bottom: 1px solid #000;
  padding: 10px;
  padding-bottom: 5px; }
  #header .title {
    font-size: 48pt;
    padding: 15px; }

#navigation-links {
  margin-left: 40px; }
  #navigation-links li {
    display: inline;
    border: 1px solid #000;
    padding: 5px;
    background: #ccf; }

#administrative-links {
  float: right; }
  #administrative-links li {
    display: inline;
    padding: 3px;
    border-right: 1px solid #000; }

#content {
  border-bottom: 1px solid #000;
  background: #fff;
  padding: 10px; }
