* {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  color: #00114a; }

#schedule .fc-event-title {
  color: #fff; }

body {
  background: #d7ebf9; }

#header {
  border-bottom: 1px solid;
  border-bottom-color: #ccccff;
  padding: 10px;
  padding-bottom: 5px; }
  #header .title {
    font-size: 48pt;
    padding: 15px; }

#navigation-links {
  margin-left: 40px; }
  #navigation-links li {
    display: inline;
    border: 1px solid;
    border-color: #ccccff;
    border-bottom: 0;
    padding: 5px;
    margin-right: 4px;
    background: #fff;
    position: relative;
    top: 1px; }

#administrative-links {
  float: right; }
  #administrative-links li {
    display: inline;
    padding: 3px;
    border-right: 1px solid;
    border-right-color: #00669f; }

#content {
  border-bottom: 1px solid;
  border-bottom-color: #00669f;
  background: #fff;
  padding: 10px; }

a {
  font-weight: bold;
  color: #00669f !important;
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  color: #00114a; }

.quicklinks {
  font-weight: bold;
  color: #99c;
  text-align: center; }

#flash {
  float: right;
  font-weight: bold;
  position: relative;
  top: -1em;
  color: #00114a; }

table {
  border-collapse: collapse; }

.listtable {
  width: 800px;
  margin: 0 auto; }
  .listtable td {
    padding: 10px;
    border-bottom: 1px solid;
    border-bottom-color: #00669f; }
  .listtable tr.alternate {
    padding: 0px;
    background: #d7ebf9; }

h1 {
  text-align: center;
  border-bottom: 2px dashed #D7EBF9; }
