.formfield {
  background: #D7EBF9;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 1.4em; }

.formlabel {
  position: relative;
  top: 1.3em;
  left: .3em; }

.formfieldwrapper {
  width: 400px; }

.formcheckboxlabel {
  color: #999; }

.submit {
  background: #336;
  color: #fff;
  font-size: 30px;
  width: 100%; }

.fieldnote {
  text-align: right;
  color: #999; }

