.formfield {
  background: #D7EBF9;
  height: 50px;
  width: 400px;
  text-align: center;
  font-size: 1.4em; }

.formlabel {
  position: relative;
  top: 1.3em;
  left: .3em; }

.formfieldwrapper {
  width: 400px; }

.formcheckboxlabel {
  color: #999; }

.submit {
  background: #336;
  color: #fff;
  font-size: 30px;
  width: 100%; }

.fieldnote {
  text-align: right;
  color: #999; }

.form {
  margin: 0 auto;
  width: 400px;
  padding: 10px; }

.go_live {
  width: 49%;
  float: left; }

.go_live2 {
  position: relative;
  top: -19px;
  z-index: 1; }

.go_live_label2 {
  z-index: 2;
  top: 1px; }
