- content_for :stylesheets do
  =stylesheet_link_tag "schedule"
  =stylesheet_link_tag "fullcalendar"

- content_for :javascripts do
  =javascript_include_tag "schedule"
  =javascript_include_tag "fullcalendar.min"
  =javascript_include_tag "jquery-ui.min"
  =javascript_tag "$(document).ready(function(){init_schedule();});"

#bucket
  #accordion
    %h3.blog
      %a{ :href => "#" }
        (a)Blog Posts
    %div
      .schedule-unit.unit1
        Unit One
      .schedule-unit.unit2
        Unit Two
      .schedule-unit.unit3
        Unit Three
    %h3.twitter
      %a{ :href => "#" }
        (a)Tweets
    %div
      .schedule-unit.unit4
        Unit One
      .schedule-unit.unit5
        Unit Two
      .schedule-unit.unit6
        Unit Three
    %h3.other
      %a{ :href => "#" }
        (a)Other Content Type
    %div
      .schedule-unit.unit7
        Unit One
      .schedule-unit.unit8
        Unit Two
      .schedule-unit.unit9
        Unit Three

#schedule


  