- content_for :stylesheets do
  =stylesheet_link_tag "schedule"
- content_for :javascripts do
  =javascript_include_tag "schedule"
  =javascript_include_tag "fullcalendar/fullcalendar.min.js"
#bucket
#schedule
