- content_for :accordion do
  %h3
    %a{ :href => "#" }
      (a)Blog Posts
  %div
    .schedule-unit
      Unit One
    .schedule-unit
      Unit Two
    .schedule-unit
      Unit Three
  %h3
    %a{ :href => "#" }
      (a)Tweets
  %div
    .schedule-unit
      Unit One
    .schedule-unit
      Unit Two
    .schedule-unit
      Unit Three
  %h3
    %a{ :href => "#" }
      (a)Other Content Type
  %div
    .schedule-unit
      Unit One
    .schedule-unit
      Unit Two
    .schedule-unit
      Unit Three
