= f.label :go_live
%br
- if !object.go_live.nil?
  %input{:type => "text", :name => "go_live_date", :id => "go_live_date", :value => "#{object.go_live.strftime('%m/%d/%Y')}" }
  %input{:type => "text", :name => "go_live_time", :id => "go_live_time",         
:value => "#{object.go_live.strftime('%I:%M%p')}" }
- else
  %input{:type => "text", :name => "go_live_date", :id => "go_live_date" }
  %input{:type => "text", :name => "go_live_time", :id => "go_live_time" }