!!! XML
!!! Strict
%html
  %head
    %title
      =yield :title
    =javascript_include_tag "application"
    =javascript_include_tag "jquery.min"
    =javascript_include_tag "jquery-ui.min"
    =yield :javascripts
    =stylesheet_link_tag "application"
    =stylesheet_link_tag "jquery-ui.custom"
    =yield :stylesheets
  %body
    #header
      #administrative-links
        %ul
          %li{:style => "border: none"}
            - if !current_user
              =link_to "Register", new_account_path
              |
              =link_to "Login", new_user_session_path
            - else
              %strong
                =current_user.login
              |
              =link_to "My Account", account_path
              |
              =link_to "Logout", user_session_path, :method => :delete, :confirm => "Are you sure you want to logout?"
      .title
        - if !current_user
          Welcome to Mashbot!
        - else
          =current_user.company
      #navigation-links
        %ul
          %li 
            %a{:href => "/dashboard"}
              Dashboard
          %li 
            =link_to "Create", new_campaign_path
          %li
            =link_to "Manage", campaigns_path
          %li  
            %a{:href => "/schedule"}
              Schedule
          %li  
            %a{:href => "/explore"}
              Explore
      #flash
        =h flash[:notice]
    #content
      =yield
    #footer
      
