- content_for :stylesheets do
  =stylesheet_link_tag "schedule"
  =stylesheet_link_tag "fullcalendar"

- content_for :javascripts do
  =javascript_include_tag "schedule"
  =javascript_include_tag "fullcalendar.min"
  =javascript_include_tag "jquery-ui.min"

#bucket
  #accordion
    =yield :accordion

#schedule
